body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #B3EACD;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

/*.jumbotron {
    background: url('Assets/boutiquephoto.jpeg');
}*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.inventory {
    width: 350px;
    border: 1px solid grey;
    margin: 30px;
    padding: 50px;
    background-color: white;
    align-content: center;
    justify-content: center;
}

.inventoryImg{
    width:200px;
    border-color: black;
    border: 1px solid black;
}
.inventoryType{
    font-size:8pt;
    color: grey;
}

.stylists{
    margin: 10px;
    padding: 20px;
}
.stylistimg{
    width: 350px;
    border-color: black;
    border: 2px solid black;
}

footer {
    text-align: center;
}