@{
    ViewBag.Title = "About";
}

<div class="boxed">
<h2 style="font-weight: bold">@ViewBag.Title</h2>
</div>
<h3>@ViewBag.Message</h3>

<p>The Chin Up Boutique was started in late 2018 by Katie and Chris Moran.  The two of them wanted to create a fun, safe space where individuals that are down on their luck
    can experience something that some would consider a luxury.  We firmly believe that fashion should not only be available to those with a high-dollar income.  Here, at
    the Chin Up boutique, we partner with local Indianapolis shelters to schedule one on one appointments for individual styling.  Let's face it, we all feel a boost of self-confidence when we 
    wear an incredible ensemble.  We want to make that experience available to those currently housed at local shelters.  We operate as a consignment and thrift shop.  Please contact us via phone
    or email to schedule a time to bring in gently used clothing items for Men, Women, and Unisex. Juniors sizes are welcome as well.  Schedule an appointment with us via our scheduling section!</p>

<style>



    body {
    font-family: 'Dancing Script', 'bold';
    font-size: x-large;
    text-align: center;
    }
    
    .boxed {
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    background-color: white;
   }

    h2 {
       font-size: 45px;
    }

    h3 {
       text-decoration: underline;
    }

    p {
        padding-top: 50px;
    }

</style>