@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5334 Talbott Street<br />
    Indianapolis, IN 46202<br />
    <abbr title="Phone">P:</abbr>
    317.355.2897
</address>

<address>
    <strong>Boutique Email</strong>   <a href="mailto:Support@example.com">welovefashion@gmail.com</a><br />
</address>