@{
    ViewBag.Title = "Contact";
}
    <div class="boxed">
        <h2 style="font-weight: bold">@ViewBag.Title</h2>
    </div>
<h3>@ViewBag.Message</h3>

<address>
    5334 Talbott Street<br />
    Indianapolis, IN 46202<br />
    <abbr title="Phone">P:</abbr>
    317.355.2897
</address>

<address>
    <strong>Boutique Email</strong>   <a href="mailto:Support@example.com">welovefashion@gmail.com</a><br />
</address>

<style>

    body {
    font-family: 'Dancing Script', 'bold';
    font-size: x-large;
    text-align: center;
    }

    .boxed {
        border: 1px solid black;
        text-align: center;
        font-weight: bold;
        background-color: white;
    }

    h2 {
       font-size: 45px;
    }

    h3 {
       font-size: xx-large;
       text-decoration: underline;
    }

    address {
        padding-top: 50px;
    }


</style>