@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid" style="background: url(../../Content/Assets/boutiquestorefrontcropped.jfif) no-repeat; background-position: center top; background-size: cover; height: 500px">
    <div class="boxed">
        <h1 class="boutiquename text-center">Chin Up Boutique</h1>
        </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <div class="boxed">
            <strong>Meet Our Current Stylists</strong>
        </div>
        <p>
            View the profiles of our Indianapolis Fashion stylists.  They each feel passionately about what fashion
            can do for an individual's confidence level.  Let them make your client feel fabulous!
        </p>
        <p><a class="btn btn-default" href="/Stylist/Index"> See their exquisite sense of style! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div class="boxed">
            <strong>Schedule an Appointment</strong>
        </div>
        <p>Request an appointment with one of our passionate stylists!  They will reach out to you or your client on an individual basis to confirm appointment date and time.</p>
        <p><a class="btn btn-default" href="/Appointment/Create">Come play dress up with us! &raquo;</a></p>
        @if (User.IsInRole("StylistUser"))
        {
            <p><a class="btn btn-default" href="/Appointment/GetAppointmentsByStylists">View Your Appointments, Stylists! &raquo;</a></p>
        }
    </div>
    <div class="col-md-4">
        <div class="boxed">
            <strong>View Our Current Inventory</strong>
            </div>
                <p>
                    View some of our current inventory that we have in stock.  The prices are based on value and not official price tag.  If your client wishes to purchase a specific piece, the
                    tag on the item in the store will hold the official price.
                </p>
                <p><a class="btn btn-default" href="/Inventory/Index">See what we can offer you! &raquo;</a></p>
            </>
        </div>

<style>
body {
    font-family: 'Dancing Script', 'bold';
    font-size: x-large;
}

.jumbotron{
   border-color: black;
   border: 2px solid black;
   
}

.boxed {
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

.btn-default {
    font-size: medium;
    font-weight: bold;
    justify-content: center;
}

.boutiquename {
    color: white;
}

footer {
    text-align: center;
}
</style>